<beans xmlns=http://www.springframework.org/schema/beans
        xmlns:xsi=http://www.w3.org/2001/xmlschema-instance
        xsi:schemalocation=http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd>

<bean id=”greetingservice” class=”greetingserviceimpl”>
<property name=”greeting” value=”hello, spring!”/>
        </bean>

        </beans>
